<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Asset</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<div class="container">
    <h1>My Assets</h1>
    <table border="1">
        <thead>
        <tr>
            <th>Currency</th>
            <th>Balance</th>
            <th>Avg Buy Price</th>
            <th>Unit Currency</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="account : ${accounts}">
            <td th:text="${account.asset.ticker}"></td>
            <td th:text="${account.quantity}"></td>
            <td th:text="${account.averagePrice}"></td>
            <td th:text="${account.unitCurrency}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>
